/AbstractFacade.class
/Ajax.class
/BodegaFacade.class
/CategoriaFacade.class
/CiudadFacade.class
/FacturaCabeceraFacade.class
/FacturaDetalleFacade.class
/PaisFacade.class
/PedidoFacade.class
/PersonaFacade.class
/ProductoFacade.class
/ProvinciaFacade.class
/RolFacade.class
/StockFacade.class
/UsuarioFacade.class
