/Bodega.class
/Categoria.class
/Ciudad.class
/FacturaCabecera.class
/FacturaDetalle.class
/Pais.class
/Pedido.class
/Persona.class
/Producto.class
/Provincia.class
/Rol.class
/Stock.class
/Usuario.class
